DesignCode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DesignCode.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DesignCode.xcodeproj/project.xcworkspace/xcuserdata/yaroslav.xcuserdatad/UserInterfaceState.xcuserstate
DesignCode.xcodeproj/xcuserdata/yaroslav.xcuserdatad/xcschemes/xcschememanagement.plist
